.App {
  text-align: center;
  background-color: #f5f9eb95;
  padding: 30px;
}

.recycling-centers {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

.center-card {
  border: 3px solid #138fe7;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  background-color: #30ede3;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.center-card h2 {
  color: #333;
}

.button {
  background-color: #007bff;
  color: #e13232;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #f50a7f;
}
